@model VAC_T.Models.JobOffer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] jobOfferFiles = Directory.GetFiles("wwwroot/assets/img/job_offer");
}
<div class="text-orange">
    <h1>Edit</h1>

    <h4>Vacature</h4>
</div>
<hr />
<div class="row">
    <div class="row Solicitate align-items-center">
        <div class="solicitate-now col-8 w-max d-inline-flex">
            <div class="text-orange white-space-pre-wrap d-inline-flex">
                <h5>Status: </h5>
            </div>
            @if (Model.Closed == null)
            {
                <h5>Open</h5>
            }
            else
            {
                <h5>Gesloten op: @Model.Closed</h5>
            }
        </div>
    </div>
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Company" />
            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="Residence" />
            <input type="hidden" asp-for="Created" />
            <div class="form-floating mb-3 text-orange">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 text-orange">
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <label asp-for="Description" class="control-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3 text-orange">
                <select asp-for="LogoURL" class="form-select">
                    <option selected disabled>Kies het Sofware type</option>
                    @foreach (string file in jobOfferFiles)
                    {
                        var path = file.Substring(8, 20) + "/";
                        var value = path + file.Substring(29);
                        var location2 = value.IndexOf(".");
                        var name = value.Substring(21, (location2 - 21));
                            <option value="@value">@name</option>
                    }
                </select>
                <label asp-for="LogoURL" class="form-label"></label>
                <span asp-validation-for="LogoURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 text-orange">
                <input asp-for="Level" class="form-control" />
                <label asp-for="Level" class="control-label"></label>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="Opload-new-LogoURL-JobOffer padding-top-5">
        <a class="navbar-brand" asp-area="" asp-controller="FileUpload" asp-action="CreateJobOfferLogoURL">
            <input type="button" value="Upload een Logo voor het Software type" class="btn btn-primary" />
        </a>
    </div>
    <div class="Opload-new-LogoURL-JobOffer padding-top-5">
        <a class="navbar-brand" asp-area="" asp-controller="JobOffers" asp-action="ChangeJobOfferStatus" asp-route-id="@Model.Id">
            <input type="button" value="Verander vacature status" class="btn btn-primary" />
        </a>
    </div>
</div>

<div>
    <a class="text-decoration-none text-orange" asp-action="Index">HomePage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
