<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
@*<script src="https://code.highcharts.com/stock/highstock.src.js"></script>*@


@using Highsoft.Web.Mvc.Charts;
@using Highsoft.Web.Mvc.Charts.Rendering;
@using VAC_T.Services;
@{
    ViewData["Title"] = "DashBoardAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var chartOptions = new Highcharts
            {
                Title = new Title
                {
                    Text = "Vacature en sollicitatie informatie"
                },
                Subtitle = new Subtitle
                {
                    Text = "Source: DataBase"
                },
                XAxis = new List<XAxis>
                {
                    new XAxis
                    {
                        Type = "category"
                    }
                },
                YAxis = new List<YAxis> {
                    new YAxis {
                        Min = 0,
                        Title = new YAxisTitle {
                            Text = "Hoeveelheid"
                        }
                    }
                },
                Tooltip = new Tooltip
                {
                    HeaderFormat = "<span style='font-size:10px'>{point.key}</span><table style='font-size:12px'>",
                    PointFormat = "<tr><td style='color:{series.color};padding:0'></td><td style='padding:0'><b>{point.y:.1f}{point.description}</b></td></tr>",
                    //PointFormat = "<tr><td style='color:{series.color};padding:0'>{series.name}: </td><td style='padding:0'><b>{point.y:.1f}{point.description}</b></td></tr>",
                    FooterFormat = "</table>",
                    Shared = true,
                    UseHTML = true
                },
                PlotOptions = new PlotOptions
                {
                    Column = new PlotOptionsColumn
                    {
                        PointPadding = 0.2,
                        BorderWidth = 0
                    },
                    Series = new PlotOptionsSeries
                    {
                        DataLabels = new PlotOptionsSeriesDataLabels
                        {
                            Enabled = true,
                            VerticalAlign = PlotOptionsSeriesDataLabelsVerticalAlign.Bottom,
                            Inside = false,
                            Format = "{point.y}{point.description}"

                        }
                    }
                },
                Legend = new Legend
                {
                    Enabled = false,
                },
                Chart = new Chart
                {
                    Width = "1000",
                    Height = 400,
                    //Type = ChartType.Column
                },
                Series = new List<Series>
                {
                    new ColumnSeries
                    {
                        Name = "Vacatures en Solicitaties",
                        ColorByPoint = true,
                        Data = new List<ColumnSeriesData>
                        {
                            new ColumnSeriesData { Name = "Gemiddelde Vacature duur", Y = (double)@ViewData["averageJobOfferLifeSpan"]!, Description = " dagen"},
                            new ColumnSeriesData { Name = "Percentage solicitatiegesprek uitnodigingen", Y = (double)@ViewData["percentageInvited"]!, Description = "%" },
                            new ColumnSeriesData { Name = "Percentage actieve reacties", Y = (double)@ViewData["percentageActiveReactionJobOffer"]!, Description = "%"},
                        }
                    }
                }
            };

    chartOptions.ID = "chart";
    var renderer = new HighchartsRenderer(chartOptions);

    var chartOptions2 = new Highcharts
            {
                Title = new Title
                {
                    Text = "Sollicitaties per vacatureniveau"
                },
                Subtitle = new Subtitle
                {
                    Text = "Source: DataBase"
                },
                XAxis = new List<XAxis>
                {
                    new XAxis
                    {
                        Type = "category"
                    }
                },
                YAxis = new List<YAxis> {
                    new YAxis {
                        Min = 0,
                        Title = new YAxisTitle {
                            Text = "Gemiddelde sollicitaties per vacatureniveau (sollicitaties)"
                        }
                    }
                },
                Tooltip = new Tooltip
                {
                    HeaderFormat = "<span style='font-size:10px'>{point.key}</span><table style='font-size:12px'>",
                    PointFormat = "<tr><td style='color:{series.color};padding:0'></td><td style='padding:0'><b>{point.y:.1f}{point.description}</b></td></tr>",
                    //PointFormat = "<tr><td style='color:{series.color};padding:0'>{series.name}: </td><td style='padding:0'><b>{point.y:.1f}{point.description}</b></td></tr>",
                    FooterFormat = "</table>",
                    Shared = true,
                    UseHTML = true
                },
                PlotOptions = new PlotOptions
                {
                    Column = new PlotOptionsColumn
                    {
                        PointPadding = 0.2,
                        BorderWidth = 0
                    },
                    Series = new PlotOptionsSeries
                    {
                        DataLabels = new PlotOptionsSeriesDataLabels
                        {
                            Enabled = true,
                            VerticalAlign = PlotOptionsSeriesDataLabelsVerticalAlign.Bottom,
                            Inside = false,
                            Format = "{point.y}{point.description}"

                        }
                    }
                },
                Legend = new Legend
                {
                    Enabled = false,
                },
                Chart = new Chart
                {
                    Width = "1000",
                    Height = 400,
                    //Type = ChartType.Column
                },
                Series = new List<Series>
                {
                    new ColumnSeries
                    {
                        Name = "Vacatures en Solicitaties",
                        ColorByPoint = true,
                        Data = (List<ColumnSeriesData>)ViewData["averageSolicitationsPerJobOfferLevel"]!,
                    }
                }
            };
    chartOptions2.ID = "chart2";
    var renderer2 = new HighchartsRenderer(chartOptions2);
}

<h1>DashBoard Admin</h1>

<p>@Html.Raw(renderer.RenderHtml())</p>
<p>@Html.Raw(renderer2.RenderHtml())</p>