@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Account verwijderen";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie wil zal je account permanent verwijderen. Dit kan niet ongedaan gemaakt worden.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Vul je wachtwoord in." />
                <label asp-for="Input.Password" class="form-label">Wachtwoord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Account verwijderen</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
