@using static VAC_T.Models.RepeatAppointment;
@model VAC_T.Models.RepeatAppointmentEnumViewModel

@{
    ViewData["Title"] = "SetRepeatAppointmentRepeatInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Set RepeatAppointment RepeatInfo</h1>

<h4>RepeatAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetRepeatAppointmentRepeatInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Repeats" />
            @if (Model.Repeats == RepeatsType.Monthly)
            {
                <div class="form-group">
                    <label asp-for="RepeatsDay" class="control-label"></label>
                    <input asp-for="RepeatsDay" class="form-control" />
                    <span asp-validation-for="RepeatsDay" class="text-danger"></span>
                </div>
            }
            @if (Model.Repeats == RepeatsType.MonthlyRelative)
            {
                <div class="form-group">
                    <label asp-for="IsFirst" class="control-label"></label>
                    <input asp-for="IsFirst" type="checkbox" />
                    <span asp-validation-for="IsFirst" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsSecond" class="control-label"></label>
                    <input asp-for="IsSecond" type="checkbox" />
                    <span asp-validation-for="IsSecond" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsThird" class="control-label"></label>
                    <input asp-for="IsThird" type="checkbox" />
                    <span asp-validation-for="IsThird" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFourth" class="control-label"></label>
                    <input asp-for="IsFourth" type="checkbox" />
                    <span asp-validation-for="IsFourth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsLast" class="control-label"></label>
                    <input asp-for="IsLast" type="checkbox" />
                    <span asp-validation-for="IsLast" class="text-danger"></span>
                </div>
            }
            <br />
            @if (Model.Repeats == RepeatsType.Weekly || Model.Repeats == RepeatsType.MonthlyRelative)
            {
                <div class="form-group">
                    <label asp-for="IsMonday" class="control-label"></label>
                    <input asp-for="IsMonday" type="checkbox" />
                    <span asp-validation-for="IsMonday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsTuesday" class="control-label"></label>
                    <input asp-for="IsTuesday" type="checkbox" />
                    <span asp-validation-for="IsTuesday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsWednesday" class="control-label"></label>
                    <input asp-for="IsWednesday" type="checkbox" />
                    <span asp-validation-for="IsWednesday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsThursday" class="control-label"></label>
                    <input asp-for="IsThursday" type="checkbox" />
                    <span asp-validation-for="IsThursday" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsFriday" class="control-label"></label>
                    <input asp-for="IsFriday" type="checkbox" />
                    <span asp-validation-for="IsFriday" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
