
@model VAC_T.Models.CVModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["Message"] != null)
{
    <h4 class="text-danger">@ViewData["Message"]</h4>
}

@if (Model.CV != null)
{
    <a class="text-decoration-none" asp-controller="FileUpload" asp-action="GetCV" asp-route-cv="@Model.CV">
        <input type="button" value="Download/View CV" class="btn btn-primary" />
    </a>                  
}
        <form enctype="multipart/form-data" method="post" asp-controller="FileUpload" asp-action="UploadCV" asp-route-id="@Model.Id">
            <dl>
                <dt>
                    <label>Upload</label>
                </dt>
                <dd>
                    <input type="file" name="FormFile" id="FormFile">
                </dd>
            </dl>
            <input class="btn" type="submit" value="CV bijwerken/oploaden" />
        </form>
