@model VAC_T.Models.Question

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (User.IsInRole("ROLE_ADMIN"))
            {
                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                    </div>
            }
            else
            {
                <input type="hidden" asp-for="CompanyId" />
            }
@*            @if (Model.Type != "Ja/Nee")
            {
*@            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="ViewBag.Type"></select>
                </div>
@*            } else
            {
                <input type="hidden" asp-for="Type" />
            }
*@@*            @if (Model.Type == "Ja/Nee" && Model.CompanyId != null)
            {
                <div class="form-group">
                    <label asp-for="QuestionText" class="control-label"></label>
                    <select asp-for="QuestionText" class="form-control" asp-items="ViewBag.TextOptions">
                        <option disabled>Selecteer een vraag</option>
                    </select>
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                </div>
            } else 
            {*@
                <div class="form-group">
                    <label asp-for="QuestionText" class="control-label"></label>
                    <input asp-for="QuestionText" class="form-control" />
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                </div>
            @*}*@
@*            @if (Model.Type != "Ja/Nee")
            {
*@                <br />
                <div class="text-red">
                    <p>De volgende opties zijn alleen voor meerkeuze vragen:</p>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" asp-for="MultipleOptions" /> @Html.DisplayNameFor(model => model.MultipleOptions)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ExplanationType" class="control-label"></label>
                    <select asp-for="ExplanationType" class="form-control" asp-items="ViewBag.ExplanationType"></select>
                </div>
                <div class="form-group">
                    <label asp-for="OptionsAmount" class="control-label"></label>
                    <select asp-for="OptionsAmount" class="form-select">
                        @for (int i = 1; i < 11; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
@*            }
*@            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar index</a>
</div>

